//Fonts
$main-font: 'Open Sans', sans-serif;
$second-font: 'Ubuntu', sans-serif;

//Colors
$white-color: #ffffff;
$gold-color: #fcae26;
$main-text: #444444;
$purple-color: #824fe3;
$title-color: #222222;
$section-background: #fafafa;
$structure-text: #272727;
$intro-color: #464646;
$section1-color: #7550de;
//Для иконок
$icon-yellow: #fbc566;
$icon-yellow-back: #faebd0;
$icon-coral: #fd642f;
$icon-coral-back: #fbdcd2;
$icon-purple: #8350e3;
$icon-purple-back: #e2d8f5;
$icon-green: #0baea3;
$icon-light-green-back: #c8eae8;
//Для пунктира
$grey-lines: #e3e3e4;
//Для footer
$footer-black: #151515;
$footer-text: #969aa8;
$footer-telegram: #3d99e3;
$footer-facebook: #2e4d72;
$footer-youtube: #ba1f2e;
//Ховер
$hover-color: #e9ac38;
