.footer-top__list {
  list-style: none;
  background-color: $title-color;
}

.footer-top {
  background-color: $title-color;
  padding-top: 45px;
}

.footer-top__item {
  line-height: 1.5;
}

.footer-top__link {
  font-family: $second-font;
  font-weight: 400;
  font-size: 14px;
  color: $footer-text;
  display: block;
  transition: color 250ms linear;

  &:hover {
    color: $white-color;
  }
}

.footer-list__icon {
  @include circles($intro-color, 38px, 38px);
  fill: $white-color;
  margin-right: 15px;
  transition: scale 250ms linear;

  &:hover {
    transform: scale(1.2);
  }
}

.footer-list__icon-red {
  background-color: $footer-youtube;
  padding-left: 4px;
  padding-top: 4px;
}

.footer-list__icon-blue {
  background-color: $footer-facebook;
  padding-left: 6px;
  padding-top: 6px;
}

.footer-list__icon-telegram {
  background-color: $footer-telegram;
  padding-left: 2px;
  padding-top: 4px;
}

.footer-bottom {
  background-color: $footer-black;
}

.footer-bottom__list {
  list-style: none;
  line-height: 1.5;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-bottom__link {
  font-family: $main-font;
  font-weight: 600;
  font-size: 12px;
  color: $footer-text__black;
  display: block;
  transition: color 250ms linear;

  &:hover {
    color: $white-color;
  }
}

//phone

@media screen and (max-width: 767px) {
  .footer-bottom__list {
    padding-left: 45px;
  }

  .footer-top__title {
    padding-left: 45px;
  }

  .footer-top__list {
    padding-left: 45px;
  }

  .footer-top__item {
    padding-bottom: 27px;
  }

  .button__footer {
    display: none;
  }

  .footer-bottom__item + .footer-bottom__item {
    padding-top: 8px;
  }
}

//tablet
@media screen and (min-width: 768px) {
  .footer-top__list {
    display: flex;
    padding-bottom: 50px;
  }

  .container__footer {
    position: relative;
  }

  .scroll {
    @include circles($circle-color, 55px, 55px);
    background-image: url(../images/footerarrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    display: inline-block;
    right: -4%;
    top: -45%;
    box-shadow: 0px 7px 12px 0px rgba(51, 51, 51, 0.5);
    cursor: pointer;
    transition: transform 250ms linear;

    &:hover {
      transform: scale(1.1);
    }
  }

  .footer-bottom__list {
    display: flex;
  }

  .footer__box {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1299px) {
  .footer-top__list {
    width: 620px;
  }

  .footer__box {
    margin-left: 44px;
    flex-wrap: wrap;
  }

  .footer-top__item--first {
    width: 320px;
    margin-right: 44px;
  }

  .footer-top__item--button {
    margin-bottom: 15px;
  }

  .footer-bottom__list {
    justify-content: space-between;
  }
}

//desctop

@media screen and (min-width: 1300px) {
  .footer-top__list {
    padding-top: 25px;
    width: 1220px;
    justify-content: space-between;
  }

  .footer__box {
    width: 600px;
    justify-content: space-between;
  }

  .scroll {
    right: 1%;
    top: 80%;
  }

  .footer-top__title {
    margin: 0;
  }

  .footer-bottom__item + .footer-bottom__item {
    margin-left: 67px;
  }
}
