img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@mixin reset-space {
  margin: 0;
  padding: 0;
}
.title {
  font-size: 20px;
  font-family: $main-font;
  line-height: 2.3;
  color: $title-color;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
.title-box {
  display: flex;
  align-items: center;
}
@mixin circles($background-color, $width, $height) {
  width: $width;
  height: $height;
  background-color: $background-color;
  border-radius: 50%;
}

.circle {
  margin-right: 15px;
  @include circles($gold-color, 30px, 30px);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 33px;
  }

  .container {
    width: 620px;
  }
}

@media screen and (min-width: 1300px) {
  .container {
    width: 1300px;
  }
}
