.section1 {
  padding-top: 60px;
  padding-bottom: 50px;
}

.section1__item {
  position: relative;

  &:before {
    position: absolute;
    background-image: url(../images/apostrophe.svg);
    background-repeat: no-repeat;
    content: '';
    top: -24px;
    left: 0;
    width: 17px;
    height: 13px;
  }
}

.title-icons {
  background-image: url(../images/elips.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.section1__text {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
  color: $intro-color;
  font-family: $second-font;
  font-weight: 400;
  margin: 0;
  padding-bottom: 30px;
}

.overlay {
  width: 280px;
}

.section1__block {
  position: relative;
  width: inherit;
  display: flex;
  justify-content: center;
  height: 230px;
  border-radius: 9px;
  background-color: $section1-color;
  margin-top: 40px;

  &:before {
    display: block;
    position: absolute;
    background-image: url(../images/line.svg);
    width: 60px;
    height: 2px;
    top: 25px;
    left: 108px;
    content: '';
  }
}

.section1__block--text {
  width: 230px;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 24px;
  color: $white-color;
  font-family: $second-font;
  font-weight: 400;
  text-align: center;
  padding-top: 40px;
  margin: 0;
}

.directions {
  padding-top: 50px;
}

.directions__title {
  @include reset-space;
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 25px;
  color: $title-color;
  font-family: $second-font;
  font-weight: 700;
}

.directions__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 40px;
}

.directions__item {
  display: block;
  position: relative;
}

.directions__link {
  text-decoration: none;
  display: flex;
  width: 280px;
  height: 225px;
  border-radius: 5px;
  position: relative;
  background-color: $section-background;

  &:hover {
    z-index: 3;
    background-color: $hover-color;
  }

  &:focus {
    z-index: 3;
    background-color: $hover-color;
  }

  &:hover .directions-description,
  &:hover .directions--age,
  &:hover .directions--years {
    color: $white-color;
  }

  &:hover .directions--icon {
    fill: $white-color;
  }

  &:focus .directions-description,
  &:focus .directions--age,
  &:focus .directions--years {
    color: $white-color;
  }

  &:focus .directions--icon {
    fill: $white-color;
  }

  &:hover .directions--icon {
    transform: translate(-5px);
  }

  &:focus .directions--icon {
    transform: translate(-5px);
  }
}

.directions__panel {
  display: block;
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 175px;
  height: 180px;
}

.directions__title {
  @include reset-space;
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 25px;
  color: $title-color;
  font-family: $second-font;
  font-weight: 700;
  padding-bottom: 20px;
}

.directions-description {
  @include reset-space;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 20px;
  color: $main-text;
  font-family: $second-font;
  font-weight: 400;
  padding-bottom: 30px;
}

.directions--age {
  position: relative;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 22px;
  color: $hover-color;
  font-family: $main-font;
  font-weight: 700;
  padding-bottom: 15px;
}

.directions--years {
  position: absolute;
  top: -20px;
  right: 60px;
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 22px;
  color: $hover-color;
  font-family: $second-font;
  font-weight: 400;
  text-decoration-line: underline;
}

.directions--overlay {
  position: relative;
  overflow: hidden;
  height: 13px;
  width: 39px;
}

.directions--icon {
  position: absolute;
  width: 39px;
  height: 13px;
  top: 0px;
  left: 0px;
  display: block;
  justify-content: center;
  fill: $hover-color;
  transform: translate(-25px);
  transition: $anim-time linear;
}

@media screen and (max-width: 767px) {
  .directions__item {
    margin-bottom: 10px;
  }

  .directions__item:nth-child(4n) {
    margin-bottom: 0;
  }
}
