.title__about {
  &::before {
    display: inline-block;
    content: '';
    background-image: url(../images/elips.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 10px;
  }
}

.about__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 280px;
  list-style-type: none;
}

.about__item {
  width: 180px;
  height: 125px;
  margin-top: 30px;
  margin-left: 45px;
}

.about__overlay--intenet {
  &::before {
    display: inline-block;
    content: '';
    background-image: url(../images/internet.svg);
    background-repeat: no-repeat;
    background-color: $icon-yellow-back;
    background-position: center;
    width: 55px;
    height: 55px;
    border-radius: 30px;
    margin-bottom: 10px;
  }
}

.about__overlay--support {
  &::before {
    display: inline-block;
    content: '';
    background-image: url(../images/support.svg);
    background-repeat: no-repeat;
    background-color: $icon-coral-back;
    background-position: center;
    width: 55px;
    height: 55px;
    border-radius: 30px;
    margin-bottom: 10px;
  }
}

.about__overlay--ok {
  &::before {
    display: inline-block;
    content: '';
    background-image: url(../images/ok.svg);
    background-repeat: no-repeat;
    background-color: $icon-purple-back;
    background-position: center;
    width: 55px;
    height: 55px;
    border-radius: 30px;
    margin-bottom: 10px;
  }
}

.about__overlay--money {
  &::before {
    display: inline-block;
    content: '';
    background-image: url(../images/money.svg);
    background-repeat: no-repeat;
    background-color: $icon-light-green-back;
    background-position: center;
    width: 55px;
    height: 55px;
    border-radius: 30px;
    margin-bottom: 10px;
  }
}

.about__overlay--light {
  &::before {
    display: inline-block;
    content: '';
    background-image: url(../images/light.svg);
    background-repeat: no-repeat;
    background-color: $icon-purple-back;
    background-position: center;
    width: 55px;
    height: 55px;
    border-radius: 30px;
    margin-bottom: 10px;
  }
}

.about__overlay--document {
  &::before {
    display: inline-block;
    content: '';
    background-image: url(../images/document.svg);
    background-repeat: no-repeat;
    background-color: $icon-coral-back;
    background-position: center;
    width: 55px;
    height: 55px;
    border-radius: 30px;
    margin-bottom: 10px;
  }
}

.about__overlay--target {
  &::before {
    display: inline-block;
    content: '';
    background-image: url(../images/target.svg);
    background-repeat: no-repeat;
    background-color: $icon-yellow-back;
    background-position: center;
    width: 55px;
    height: 55px;
    border-radius: 30px;
    margin-bottom: 10px;
  }
}

.about__text {
  @include reset-space();
  font-size: 14px;
  font-family: $main-font;
  line-height: 1.429;
  color: $main-text;
}

@media screen and (max-width: 767px) {
  .about {
    padding-bottom: 50px;
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .about__list {
    flex-direction: inherit;
    justify-content: end;
    flex-wrap: wrap;
    width: 620px;
    margin-left: 0;
    margin: auto;
  }

  .title__about {
    &::before {
      background-image: url(../images/cubes.svg);
    }
  }

  .about__item {
    width: 210px;
    height: 160px;
    margin-left: 90px;
  }

  .about__text {
    font-size: 16px;
    line-height: 1.375;
  }

  .about__item div {
    &::before {
      width: 80px;
      height: 80px;
      border-radius: 40px;
    }
  }

  .about__overlay--light {
    &::before {
      background-image: url(../images/light--green.svg);
      background-color: $icon-light-green-back;
    }
  }
}

@media screen and (min-width: 1300px) {
  .about {
    padding-bottom: 110px;
    background-color: $section-background;
    background-image: url(../images/background.png);
    background-position: center;
  }

  .about__list {
    width: 1300px;
  }

  .about__text {
    font-size: 18px;
    line-height: 1.667;
  }

  .about__item {
    width: 240px;
    height: 200px;
    margin-left: 0;
    margin-right: 84px;
  }

  .about__item:nth-child(4n) {
    margin-right: 0;
  }

  .about__item:last-child {
    margin-right: 0;
  }
}
