.section1 {
  padding-top: 60px;
  padding-bottom: 50px;
}
.section1__item {
  position: relative;
}
.apostrophe__logo {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  transform: translateY(-110%);
  width: 17px;
  height: 13px;
}
.section1__text {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
  color: $section1-text;
  font-family: $second-font;
  font-weight: 400;
  margin: 0;
  padding-bottom: 30px;
}
.overlay {
  width: 280px;
}
.section1__block {
  position: relative;
  width: inherit;
  display: flex;
  justify-content: center;
  height: 230px;
  border-radius: 9px;
  background-color: $section1-description;
  margin-top: 40px;
  &:before {
    display: block;
    position: absolute;
    width: 60px;
    height: 2px;
    top: 0px;
    left: 0px;
    background-color: #e9ac38;
    content: '';
    transform: translate(110px, 25px);
  }
}
.section1__block--text {
  width: 230px;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 24px;
  color: $white-color;
  font-family: $second-font;
  font-weight: 400;
  text-align: center;
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .section1 {
    padding-top: 65px;
    padding-bottom: 70px;
  }
  .apostrophe__logo {
    top: 0;
    left: 0;
    width: 26px;
    height: 20px;
    transform: translateX(-100%) translateY(-100%);
  }
  .section1__block {
    height: 185px;
    text-align: left;
    &:before {
      width: 100px;
      height: 2px;
      top: 0px;
      left: 0px;
      transform: translateY(95px) rotate(90deg);
    }
  }
  .section1__block--text {
    width: 440px;
    text-align: unset;
    font-size: 20px;
    line-height: 28px;
  }
  .section1__text {
    font-size: 18px;
    line-height: 25px;
  }
}
@media screen and (min-width: 1300px) {
  .section1__box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .section1__item {
    width: 500px;
    padding-top: 100px;
  }
  .section1__text {
    font-size: 20px;
    line-height: 35px;
  }
  .apostrophe__logo {
    top: 0px;
    left: 0;
    width: 26px;
    height: 20px;
    transform: translateX(-100%) translateY(80px);
  }
  .section1__block {
    height: 225px;
    &:before {
      width: 89px;
      transform: translate(170px, 120px) rotate(90deg);
    }
  }
  .section1__block--text {
    width: 820px;
    font-size: 25px;
    line-height: 35px;
    padding-top: 70px;
  }
}
